SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

USE_MYSQL=True

MYSQL_NAME=lodgixhub
MYSQL_USER=lodgixhub_user
MYSQL_PASSWORD=change-me
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

JWT_SIGNING_KEY=

# For local develop
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
DEFAULT_FROM_EMAIL=

# For SMTP
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.your-provider.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=your-smtp-username
# EMAIL_HOST_PASSWORD=your-smtp-password
# DEFAULT_FROM_EMAIL=noreply@your-domain.com

# Sentry & Logging
SENTRY_DSN=
LOG_TO_FILE=True/False