SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

USE_MYSQL=True

MYSQL_NAME=lodgixhub
MYSQL_USER=lodgixhub_user
MYSQL_PASSWORD=change-me
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

JWT_SIGNING_KEY=